GOOGLE_DRIVE_CLIENT_ID=  # <YOUR_GOOGLE_DRIVE_CLIENT_ID>.apps.googleusercontent.com
GOOGLE_DRIVE_URL_SCHEME= # com.googleusercontent.apps.<YOUR_GOOGLE_DRIVE_CLIENT_ID>
BB_AUTH_URL= # accounts0x.bullbitcoin.dev
BBX_URL= # bbx0x.bullbitcoin.dev
APIKEY_QUERY_PARAM= # not a secret but ask admin
BASIC_AUTH_USERNAME= # username (ask admin)
BASIC_AUTH_PASSWORD= # password (ask admin)
BB_API_URL= # https://api05.bullbitcoin.dev for testing or # https://api.bullbitcoin.com for prod
DLC_COORDINATOR_URL= # http://<host>:<port> (use http:// for local dev; https only if TLS is enabled)
DLC_COORDINATOR_TEST_URL= # optional testnet coordinator URL (defaults to DLC_COORDINATOR_URL)
TEST_ALICE_MNEMONIC= # zoo zoo zoo zoo zoo zoo zoo zoo zoo zoo zoo wrong
TEST_BOB_MNEMONIC= # zoo zoo zoo zoo zoo zoo zoo zoo zoo zoo zoo wrong
SENTRY_DSN= # Sentry DSN for crash reporting (optional) https://<PUBLIC_KEY>@<HOST>:<PORT>/<PROJECT_ID>

# DLC Coordinator stuff
DLC_COORDINATOR_URL=http://192.168.0.198:8000
DLC_COORDINATOR_BACKUP_URL=http://192.168.0.160:8000
DLC_COORDINATOR_TEST_URL=http://192.168.0.198:8000
DLC_COORDINATOR_TEST_BACKUP_URL=http://192.168.0.160:8000
# Required for trading (orders/DLC); optional for some read-only coordinator paths
DLC_COORDINATOR_PARTNER_ID=partner_id_provided_by_the_coordinator_admin
DLC_COORDINATOR_PARTNER_TOKEN=partner_token_provided_by_the_coordinator_admin
DLC_BTC_USD_TICKER_URL=https://api.coinbase.com/v2/prices/BTC-USD/spot
DLC_DEFAULT_PREMIUM_SATOSHIS_PER_CONTRACT=5030000
